pipeline/LookUpActiviyDemo.json
{
	"name": "LookUpActiviyDemo",
	"properties": {
		"activities": [
			{
				"name": "LookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TableListDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LogTableNamesSP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogTableNames]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@activity('LookupActivity').output.firstRow.Name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TableListLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}